@model IEnumerable<ProyectoDeTitulo.DBModels.Estado>

<p>
    <a href="/Estado/Create" class="link-success">Crear nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <a href="@("/Estado/Edit?key=" + @item.ID)"><i class="fas fa-edit"></i></a>
            <a href="#" class="est-delete-link" data-id="@item.ID"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
    </tr>
}

</table>
