@model IEnumerable<ProyectoDeTitulo.DBModels.Usuario>
@{
    if (!string.IsNullOrEmpty(ViewBag.NotificationErr))
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Alerta</strong>@ViewBag.NotificationErr.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (!string.IsNullOrEmpty(ViewBag.Notification))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.Notification
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<p>
    @*<button type="button" id="btnUsuarioCrearNuevo" class="btn btn-primary btn-flat">Crear nuevo</button>*@
    <a href="/User/Create" class="link-success">Crear nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerfilID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.Nombre)
            </td>
            <td>
                <a href="@("/User/Edit?key=" + @item.RUT)" class="usr-edit-link" data-id="@item.RUT"><i class="fas fa-edit"></i></a>
                <a href="#" class="usr-delete-link" data-id="@item.RUT"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
    }

</table>

<!--Modal Mantenedor usuarios-->
<div id="modalCreateUsuario" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Crear/Actualizar
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="divRenderCreateUsuario">
            </div>
            <div class="modal-footer">
                <div class="col-lg-10 text-right">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalEditUsuario" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Crear/Actualizar
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="divRenderEditUsuario">
            </div>
            <div class="modal-footer">
                <div class="col-lg-10 text-right">
                    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

