@model IEnumerable<ProyectoDeTitulo.DBModels.Usuario>
<p>
    <a href="/User/Create" class="link-success">Crear nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerfilID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.Nombre)
            </td>
            <td>
                <a href="@("/User/Edit?key=" + @item.RUT)" class="usr-edit-link" data-id="@item.RUT"><i class="fas fa-edit"></i></a>
                <a href="#" class="usr-delete-link" data-id="@item.RUT"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
    }

</table>




